pandoc
sphinx>=7.0.0
nbsphinx
sphinx_astropy>=1.9.0
sphinx-pyproject
sphinx-copybutton
furo
docutils>=0.18.
markupsafe==2.0.1
astropy>=4.3.0
astroquery>=0.4.7.dev8893
beautifulsoup4==4.11.1
cartopy
extension_helpers==1.0.0
image_registration>=0.2.8
h5py>=3.0.0
matplotlib>=3.5.1
numpy>=1.21.0
photutils>=1.3.0
pytest==6.2.4
pytest_astropy_header==0.2.2
pyyaml
scikit-image>=0.18.3
scipy>=1.7.0
setuptools>=68.0.0
setuptools_scm==7.0.5